@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'FixelDisplay';
  src: url('./fonts/FixelDisplay-Regular.woff2') format('woff2');
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./fonts/FixelDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./fonts/FixelDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('./fonts/FixelDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400; /* normal */
  font-style: normal;
}

body {
  box-sizing: border-box;
  font-family: 'FixelDisplay', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fcfcfc;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #121417;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */